.product{
    
    background-color: aqua;
    margin: 10px;
    
    
}
.title{
    font-size: 30px;
    text-shadow: 2px;
    
}
.search{
    margin-right: 40%;
}
.nev{
    background-color: black;
}